<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Memento" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://hcaptcha.com/1/api.js" async defer></script>

  </head>

  <body class="font-sans antialiased">

    <!-- Page -->
    <div class="bg-slate-50">
      <!-- Page Content -->
      <div class="antialiased">

        <!-- Main page & Footer -->
        <div class="flex flex-col min-h-screen">
          <main class="flex-1">
            <%= yield %>
          </main>

          <!-- Footer -->
          <%= render 'partials/footer' %>
        </div>

      </div>
    </div>

  </body>
</html>
